* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #f8f8f9;
  }

#principal {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 40px 0 40px 0;
    line-height: 35px;   
}

#fieldOne {
    border-radius: 5px;
}

.line-content {
    margin: 10px;
    display: inline-block
}

.floati {
    margin-left: 100px;
}

#fieldTwo {
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}

#past-jobs {
    width: 50%;
}



#position {
      display: block;
}

.resume-job {
    text-align: center;
    margin: 15px 0;
}

.btns {
    margin: 15px 0;
    line-height: 15px;
    border-radius: 5px;
}

button {
    padding: 10px;
}

#radio-home-2 {
    margin-left: 100px;
    margin-top: 10px;
}